<main>
<h2>Cadastro</h2>

<mat-card>
  <form  (submit)="onAdicionarUser(adicionaruserForm)" #adicionaruserForm="ngForm" autocomplete="off">

    <mat-form-field>
      <input type="text" matInput name="email" ngModel  #emailInput="ngModel" placeholder="Email" required email/>
      <mat-error *ngIf="emailInput.invalid">Digite um email válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput name="login" ngModel  #loginInput="ngModel" placeholder="Login" required>
      <mat-error *ngIf="loginInput.invalid">Digite um email válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput name="senha" ngModel  #senhaInput="ngModel" placeholder="Senha" required>
      <mat-error *ngIf="senhaInput.invalid">Digite uma senha válida</mat-error>
    </mat-form-field>

    <hr>
    <button type="submit" class="btn btn-outline-light">Cadastrar Usuário</button>
  </form>
</mat-card>

  <p><strong>Já cadastrado?<button class="buttonCadastro"mat-button routerLink="/login"><a routerLink="/login">Faça o Login</a></button></strong></p>
</main>
